<ng-container *ngIf="group">
  <div class="d-flex flex-column">
    <h2 class="d-flex">
      <span>Группа: {{group.specialtyName}}-{{group.groupNumber}}</span>
      <i class="fa fa-pen align-self-center"
         style="margin-left: 20px; font-size: 15px; cursor: pointer;"
         data-toggle="modal"
         data-target="#editGroupDialog"
         (click)="clickEditGroup()"
         [hidden]="!auth.isCurator() && !auth.isAdmin()"
      ></i>
    </h2>
    <ul ngbNav #nav="ngbNav" class="nav-tabs" style="margin-top: 20px;">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Общее</a>
        <ng-template ngbNavContent>
          <div class="row" style="margin: 20px -15px;">
            <div class="col">
              <span><b>Специальность</b></span><br>
              <span>{{ group.specialtyName }}</span>
            </div>
            <div class="col">
              <span><b>Номер группы</b></span><br>
              <span>{{ group.groupNumber }}</span>
            </div>
          </div>

          <div class="row" style="margin: 20px -15px;">
            <div class="col">
              <span><b>Куратор</b></span><br>
              <span>{{ group.curatorName }}</span>
            </div>
            <div class="col">
              <span><b>Староста</b></span><br>
              <ng-container *ngIf="group.headmanName">
                <span>{{ group.headmanName }}</span>
              </ng-container>
              <ng-container *ngIf="!group.headmanName">
                <span style="color: red;">Староста группы не выбран</span>
              </ng-container>
            </div>
          </div>

          <ng-container *ngIf="disciplines">
            <span><b>Дисциплины</b></span><br>
            <ng-container *ngFor="let discipline of disciplines">
              <span class="badge badge-primary" style="margin-right: 10px; font-size: 15px;">{{ discipline.disciplineName }}</span>
            </ng-container>
          </ng-container>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Учащиеся</a>
        <ng-template ngbNavContent>
          <button class="btn btn-primary"
                  style="margin: 10px 0"
                  data-toggle="modal"
                  data-target="#addStudent"
                  [hidden]="!auth.isCurator() && !auth.isAdmin()"
          >
            <span>Добавить <i class="fa fa-plus"></i></span>
          </button>
          <app-table [contents]="toObservable(students)" [contentFields]="studentContentFields" [headerNames]="studentsHeaderNames"></app-table>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Расписание</a>
        <ng-template ngbNavContent>
          <ng-container *ngIf="schedules">
            <button class="btn btn-primary"
                    style="margin: 10px 0"
                    data-toggle="modal"
                    data-target="#addScheduleDialog"
                    (click)="openAddSchedule()"
                    [hidden]="!auth.isDispatcher()"
            >
              <span>Добавить <i class="fa fa-plus"></i></span>
            </button>
            <div class="list-group">
              <button class="btn list-group-item list-group-item-action"
                      [class.btn-danger]="!schedule.isVerified"
                      [class.btn-success]="schedule.isVerified"
                      *ngFor="let schedule of schedules"
                      data-toggle="modal"
                      data-target="#showScheduleDialog"
                      (click)="showSchedule(schedule)"
              >{{ schedule.regionalDate }}</button>
            </div>
          </ng-container>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Пропуски</a>
        <ng-template ngbNavContent>
          <div>
            <p>
              <span><b>Не отмеченные</b></span>
            </p>
            <ng-container *ngIf="noMarkedSchedules else noContent">
              <div class="list-group">
                <button class="btn list-group-item list-group-item-action"
                        *ngFor="let schedule of noMarkedSchedules"
                        (click)="openAddSkippingModal(schedule)"
                >{{ schedule.regionalDate }}</button>
              </div>
            </ng-container>
          </div>

          <div>
            <p>
              <span><b>Не проверенные заведующим отделением</b></span>
            </p>
            <ng-container *ngIf="noVerifiedSchedules else noContent">
              <div class="list-group">
                <button class="btn list-group-item list-group-item-action"
                        *ngFor="let schedule of noVerifiedSchedules"
                        (click)="openVerificationSkippingModal(schedule)"
                >{{ schedule.regionalDate }}</button>
              </div>
            </ng-container>
          </div>

          <div>
            <p>
              <span><b>Проверенные</b></span>
            </p>
            <ng-container *ngIf="verifiedSchedules else noContent">
              <div class="list-group">
                <button class="btn list-group-item list-group-item-action"
                        *ngFor="let schedule of verifiedSchedules"
                        (click)="openShowSkippingModal(schedule)"
                >{{ schedule.regionalDate }}</button>
              </div>
            </ng-container>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

</ng-container>

<div class="modal" tabindex="-1" role="dialog" id="addStudent">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить студента</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm">
          <label class="col-form-label" for="lastName">Фамилия</label>
          <input class="form-control" id="lastName" formControlName="lastName">
          <label class="col-form-label" for="firstName">Имя</label>
          <input class="form-control" id="firstName" formControlName="firstName">
          <label class="col-form-label" for="patronym">Отчество</label>
          <input class="form-control" id="patronym" formControlName="patronym">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addStudent()">Добавить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="studentForm.reset();">Отменить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="editGroupDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Редактировать группу</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="groupForm">
          <label class="col-form-label" for="groupNumber">Номер группы</label>
          <input class="form-control" id="groupNumber" formControlName="groupNumber">

          <label class="col-form-label" for="specialtyName">Специальность</label>
          <input class="form-control" formControlName="specialtyName" id="specialtyName">

          <label class="col-form-label" for="curatorName">Куратор</label>
          <input class="form-control" formControlName="curatorName" id="curatorName">

          <label class="col-form-label" for="headman">Староста</label>
          <ngx-select-dropdown [options]="students"
                               [config]="studentConfig"
                               [multiple]="false"
                               formControlName="headman"
                               id="headman"
          ></ngx-select-dropdown>

          <label class="col-form-label" for="disciplineIds">Дисциплины</label>
          <ngx-select-dropdown [options]="allDisciplines"
                               [config]="disciplineConfig"
                               [multiple]="true"
                               formControlName="disciplines"
                               id="disciplineIds"
          ></ngx-select-dropdown>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editGroup()">Редактировать</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="groupForm.reset({ disciplineIds: [] });">Отменить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="showScheduleDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Просмотр расписания</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="removeAllControls()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="scheduleForm">
          <label class="col-form-label" for="scheduleDate">Дата</label>
          <input class="form-control"
                 style="margin-bottom: 20px;"
                 id="scheduleDate"
                 formControlName="regionalDate"
                 [attr.disabled]="true">

          <ng-container formArrayName="lessons">
            <ng-container *ngFor="let _ of getLessons().controls; let i = index;">
              <ng-container [formGroupName]="i">
                <div class="row">
                  <div class="col">
                    <label class="col-form-label" for="disciplineName">Дисциплина</label>
                    <input class="form-control"
                           id="disciplineName"
                           formControlName="disciplineName"
                           [attr.disabled]="true"
                    >
                  </div>
                  <div class="col">
                    <label class="col-form-label" for="teacherName">Преподаватель</label>
                    <input class="form-control"
                           id="teacherName"
                           formControlName="teacherName"
                           [attr.disabled]="true"
                    >
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="removeAllControls()">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addScheduleDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить расписания</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="removeAllControls()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="scheduleForm">
          <label class="col-form-label" for="scheduleDateForAdd">Дата</label>
          <input class="form-control"
                 style="margin-bottom: 20px;"
                 id="scheduleDateForAdd"
                 formControlName="date"
                 type="date">
          <button class="btn btn-primary" (click)="addOneFormGroup()">Добавить</button>
          <span style="margin-left: 20px; color: red;">Одна строчка отвечает за полупару</span>
          <ng-container formArrayName="lessons">
            <ng-container *ngFor="let _ of getLessons().controls; let i = index;">
              <ng-container [formGroupName]="i">
                <div class="row" style="margin-bottom: 10px;">
                  <div class="col">
                    <label class="col-form-label" for="discipline">Дисциплина</label>
                    <ngx-select-dropdown id="discipline"
                                         formControlName="discipline"
                                         [options]="disciplines"
                                         [config]="disciplineConfig"
                                         (change)="disciplineSelected($event.value, i)"
                    ></ngx-select-dropdown>
                  </div>
                  <div class="col">
                    <label class="col-form-label" for="teacher">Преподаватель</label>
                    <ngx-select-dropdown #teacherDropdown
                                         id="teacher"
                                         formControlName="teacher"
                                         [config]="teacherConfig"
                    ></ngx-select-dropdown>
                  </div>
                  <ng-container *ngIf="i !== 0">
                    <span class="d-flex" style="align-items: flex-end;">
                      <i class="fa fa-trash"
                         style="margin-right: 10px; margin-bottom: 10px; cursor: pointer"
                         (click)="removeControlById(i)"
                      ></i>
                    </span>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createSchedule()">Добавить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="removeAllControls()">Закрыть</button>
      </div>
    </div>
  </div>
</div>


<ng-template #noContent>
  <span style="color: red;">Нет контента</span>
</ng-template>
