header {
  height: 50px;
  width: 100%;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 30px;
}

.content-block {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
}

.content {
  width: 100%;
}
